.posts {
  border-top: 1px solid $subTextColor;
  text-align: center;
  > ul {
    margin: 0px 10% 0px 10%;
    padding: 0;
    width: 80%;
    > li {
      display: inline-block;
      width: 100%;
      height: 380px;
      overflow: hidden;
      margin: 10px 0px 10px 0px;
    }
  }
}
.posts__sectionTitle {
  margin: 20px 10% 20px 10%;
  width: 80%;
  color: $accentColor1;
  font-size: 30px;
}
