html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

html,
body {
  font-family: Helvetica;
  font-size: 18px;
  line-height: 27px; }

body {
  margin: 0; }

.glob__fadeTint {
  position: relative; }
  .glob__fadeTint:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 0;
    right: 0;
    background: rgba(0, 100, 200, 0.6);
    transition: all .3s linear; }
  .glob__fadeTint:hover:before {
    background: none; }
  .glob__fadeTint > img {
    width: 100%;
    height: auto;
    max-height: 380px; }
    .glob__fadeTint > img:after {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 100, 200, 0.6); }
  .glob__fadeTint > h2 {
    position: absolute;
    max-width: 75%;
    text-align: left;
    bottom: 0px;
    padding: 0px 20px 0px 20px;
    color: #fff;
    font-size: 32px;
    text-shadow: 2px 2px #083451; }

.header {
  position: relative;
  top: 0;
  width: 100%;
  height: 260px;
  background-image: url("./images/Waves.jpg");
  background-position: center center;
  background-repeat: no-repeat; }

.header__imgOverlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 100, 200, 0.6); }

.header__topNav > ul {
  text-align: center;
  margin: 15px 0px 15px 0px;
  padding: 0px; }
  .header__topNav > ul > li {
    display: inline-block;
    margin: 0px 10px 0px 10px; }
    .header__topNav > ul > li > a {
      text-decoration: none;
      font-size: 24px;
      color: #083451; }

.header__logo > img {
  position: relative;
  vertical-align: middle;
  left: 50%;
  transform: translate(-50%);
  max-height: 75px;
  width: auto; }

.header__blogTitle {
  text-align: center;
  color: #ffffff;
  line-height: 75px;
  font-size: 45px;
  text-shadow: 2px 1px #083451; }

.header__blogSubtitle {
  text-align: center;
  color: #083451;
  font-size: 20px; }

.article {
  position: relative;
  padding: 40px 10% 0px 10%; }

.article__header {
  margin: 10px 0px 30px 0px; }

.article__title {
  color: #083451;
  font-size: 55px;
  line-height: 70px;
  margin: 0; }

.article__publishDate {
  color: #aab8c3;
  text-decoration: underline; }

.article__content {
  color: #5e686f; }
  .article__content > p > a {
    color: #2b75b5; }
    .article__content > p > a:hover {
      color: #083451; }
    .article__content > p > a:visited {
      color: #aab8c3; }
  .article__content > h2 {
    margin: 30px 0px 30px 0px;
    border-left: 2px solid #aab8c3;
    padding-left: 15px;
    color: #2b75b5; }

.article__extraNav > ul {
  padding: 0px;
  vertical-align: middle; }
  .article__extraNav > ul > li {
    max-height: 100%;
    width: auto;
    margin: 0px 15px 0px 0px;
    padding: 0px;
    display: inline-block;
    vertical-align: middle; }

.aside {
  position: relative;
  display: block;
  margin: 0px 10% 0px 10%;
  width: 80%;
  height: auto; }

.aside__author {
  margin: 0px 0px 20px 0px;
  height: 200px; }

.aside__authorPic {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  max-height: 100px;
  max-width: 100px;
  border-radius: 50px; }

.aside__imgOverlay {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: rgba(0, 100, 200, 0.6); }

.aside__authorName {
  text-align: center;
  position: absolute;
  top: 130px;
  width: 100%;
  font-size: 24px;
  color: #2b75b5; }

.aside__authorSocialMedia {
  position: absolute;
  width: 100%;
  top: 150px; }
  .aside__authorSocialMedia > ul {
    text-align: center;
    margin: 15px 0px 15px 0px; }
    .aside__authorSocialMedia > ul > li {
      display: inline-block;
      margin: 0px 10px 0px 10px; }
      .aside__authorSocialMedia > ul > li > a {
        text-decoration: none;
        font-size: 20px;
        color: #aab8c3; }

.aside__advert {
  margin: 30px 0 30px 0;
  text-align: right; }
  .aside__advert > a {
    font-size: 18px;
    color: #aab8c3; }

.posts {
  border-top: 1px solid #aab8c3;
  text-align: center; }
  .posts > ul {
    margin: 0px 10% 0px 10%;
    padding: 0;
    width: 80%; }
    .posts > ul > li {
      display: inline-block;
      width: 100%;
      height: 380px;
      overflow: hidden;
      margin: 10px 0px 10px 0px; }

.posts__sectionTitle {
  margin: 20px 10% 20px 10%;
  width: 80%;
  color: #083451;
  font-size: 30px; }

.footer {
  position: relative;
  bottom: 0;
  margin-top: 30px;
  width: 100%;
  height: 200px;
  background-color: #083451;
  padding-top: 10px;
  color: #aab8c3; }

.footer__nav > ul {
  text-align: center;
  margin: 15px 0px 15px 0px; }
  .footer__nav > ul > li {
    display: inline-block;
    margin: 0px 10px 0px 10px; }
    .footer__nav > ul > li > a {
      text-decoration: none;
      font-size: 14px;
      color: inherit; }

.footer__logo > img {
  position: relative;
  vertical-align: middle;
  left: 50%;
  transform: translate(-50%);
  max-height: 75px;
  width: auto; }

.footer__copyright {
  text-align: center;
  font-size: 14px; }

/*# sourceMappingURL=styles.css.map */
